#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
}

nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #979797;
  margin-bottom: 20px;
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 20px;
  text-decoration: none;
  border-radius: 18px;
  border: 1px solid #000;
  color: #000;
  transition: background-color 0.2s ease;
}

nav > a:hover {
  background-color: #ededed;
  color: #000;
  border: 1px solid #000;
  transform: scale(0.97);
}


.nav-link.active {
  background-color: #054678;
  color: #ffffff;
}


h1 {
  font-weight: bold;
  color: #054678;
  margin: 0;
  margin-bottom: 18px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #054678;
  margin: 0;
  margin-bottom: 18px;
}


hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: #03a8d8;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input[type="submit"] {
  cursor: pointer;
}

.button-add {
  display: inline-block;          
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;

  padding: 8px 16px;
  margin-right: 30.5px;
  margin-top: 8px;

  text-decoration: none;
  border-radius: 18px;
  border: 0px solid #000000;
  background-color:#ffa203;

  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.button-add:hover {
  display: inline-block;          
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;

  padding: 8px 16px;
  margin-right: 30.5px;
  margin-top: 8px;

  text-decoration: none;
  border-radius: 18px;
  border: 0px solid #000000;
  background-color:#ffa203;

  cursor: pointer;
  transform: scale(0.97);
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 6px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tile-title{
  font-size: 21px;
  font-weight: bold;
}

.tile {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.tile.tile-title {
  font-weight: bold;
}

.tile-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
}

.tile-container {
  max-width: 320px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 12px;
  background-color: #f0f0f0;
}

.delete-button{
  border: none;
  background-color: #cd1111;   
  color: white;                 
  border-radius: 50%;           
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

p{
  color: #054678;
}